#father{
	width:800px;
	height:600px;
}

#top{
	background-color:hotpink;
	width:800px;
	height:98px;
}

/*.main{
	width:800px;
	height:400px;
}*/
#center_left{
	background-color:hotpink;
	width:595px;
	height:380px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	
}

#center_right{
	background-color:black;
	height:380px;
	width:195px;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left:10px;
	float:left;
}

#bottom{
	background-color:hotpink;
	width:800px;
	height:98px;
}

#wrapper
{
    width:800px;
    height:600px;
}
#header,#footer
{
    height:98px;
    background-color:lightskyblue;
}
.main-left,.main-right
{
    height:380px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:hotpink;
}
.main-left
{
    float:left;
    width:595px;
}
.main-right
{
    float:right;
    width:195px;
}
.clear{clear:both;}
